<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVSQ-6y33Ntf_8uP3wrwMQaX6WZhQCCFw</string>
	<key>GCM_SENDER_ID</key>
	<string>849373739430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.familyforever.admin</string>
	<key>PROJECT_ID</key>
	<string>famforeveradmin</string>
	<key>STORAGE_BUCKET</key>
	<string>famforeveradmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849373739430:ios:1a583fd0885e8700a43767</string>
</dict>
</plist>