
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@theme {
  /* Your custom theme settings */
  --font-display: "roboto", sans-serif;

  --color-dark-green:var(--Grenn2-0-06, #1D5F33);
  --color-green: #154C28;
  --color-light-green: #39A75E;
  --color-parrot-green:#A3EE67;
  --color-lime:#D2FBB6;
  --color-gray:#C5C5C5;
  --color-fonts:#2D8C0C;
  --color-light-black:#3d3d3d;
  --color-white:#FFFFFF;
  --color-light-gray:#E6E6E6;
}

html {
  font-family: var(--font-display);
  background-color: #EEEEEE;
}

/* React DatePicker: force white and remove dividers */
.react-datepicker,
.react-datepicker__month-container,
.react-datepicker__header,
.react-datepicker__day-names,
.react-datepicker__month,
.react-datepicker__week,
.react-datepicker__day {
  background: #fff !important;
  box-shadow: none !important;
}

.react-datepicker__header,
.react-datepicker__day-names,
.react-datepicker__month {
  border: 0 !important; /* kills the grey bars */
}

.react-datepicker__triangle {
  display: none !important;
}

/* global CSS */
.react-datepicker__day,
.react-datepicker__day-name {
  font-variant-numeric: tabular-nums;
}
